@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=block');

:root {
  --v-primary-base: #4cc9f0;
  --v-primary-border: #3092cc;
  --v-primary-hover: #5FBDF4;
  --v-primary-active: #3ca3e3;
  --v-primary-invert: #040498;

  --v-button-base: #b5179e;
  --v-button-text: #f9f9f9;
  --v-button-border: #7209b7;
  --v-button-hover: #4cc9f0;
  --v-button-active: #4895ef;
  --v-button-disabled: #560f48;
  --v-button-disabled-text: #771564;

  --v-text-base: #cccccc;
  --v-gray-base: #777;
  --v-gray-border: #555;
  --v-gray-invert: #f9f9f9;
  --v-gray-light: #d2d0d0;

  --v-board-base: #a2148d;
  --v-board-light: #d962c7;

  --v-board-alt-base: #0c7ea8;
  --v-board-alt-light: #0badad;
}

*, html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.3;
  color: var(--v-text-base);
  background: rgb(20, 20, 20) radial-gradient(circle, rgb(38, 38, 38) 0%, rgba(20, 20, 20, 1) 100%);
}

body, input, label, textarea, button {
  font-family: 'Bebas Neue', Arial, sans-serif;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  font-size: 10vw;
  line-height: 1;
  color: var(--v-primary-base);
}

h2 {
  font-size: 4vw;
  margin-bottom: 6vh;
}

h1, h2, h3, h4, h5, p, div {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

input, textarea {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button, .button {
  display: block;
  font-size: 3vw;
  width: 100%;
  margin: 1vh auto;
  padding: 1.5vw 0 1vw 0;
  background: var(--v-button-base);
  color: var(--v-button-text);
  border: 0.5vw solid var(--v-button-border);
  border-radius: 1vw;
  cursor: pointer;
  text-decoration: none;
}

button:hover, .button:hover {
  background: var(--v-button-hover);
}

button:active, .button:active {
  background: var(--v-button-active);
}

button:disabled {
  background: var(--v-button-disabled);
  color: var(--v-button-disabled-text);
}

button[name=mute] {
  position: absolute;
  top: 1vh;
  right: 2vw;
  width: auto;
  border: none;
  background: none;
}
