<template id="boardView">
  <div class="host content">
    <div class="ratio">
      <div class="container">
        <div class="board">
          <div class="panel">
            <div class="blocks">
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="1"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="2"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="9"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="10"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="3"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="4"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="11"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="12"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="5"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="6"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="13"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="14"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="7"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="8"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="15"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="16"/></label>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="cell strikes">
                <div class="text">----</div>
              </div>
              <div class="cell joinCode">
                <div class="text">----</div>
              </div>
              <div class="cell editSwitch">
                <div class="text">----</div>
              </div>
              <div class="cell total">
                <div class="text">----</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bigStrike">❌</div>
</template>

<script>
  app.addView({
    templateId: 'boardView',
    created: function(el) {
      const EMPTY_CELL = '';
      const globalState = this.state;

      class DefaultState {

        contentClass() {
          return null;
        }

        buttonTextFor(index) {
          const total = [1, 2, 3, 4, 5, 6, 7, 8].reduce((acc, index) => {
            let score = Number(Reflect.get(globalState, `answer${index}Score`));
            score = isNaN(score) ? 0 : score;
            const visible = Reflect.get(globalState, `answer${index}Visible`);
            return visible ? acc + score : acc;
          }, 0);
          return [`${globalState.strikes} Strikes`, globalState._joinCode, 'Edit', `Total ${total}`][index];
        }

        onBlockClick(block, blockIndex, blocks) {
          blocks.filter(b => b !== block).forEach(b => b.classList.remove('confirm'));
          block.classList.toggle('confirm');
          return new BlockVisibilityState(block, blockIndex, blocks);
        }

        onButton0() {
          return new StrikesState();
        }

        onButton2() {
          return new EditState();
        }

      }

      class BlockVisibilityState {

        constructor(block, blockIndex, blocks) {
          this.block = block;
          this.blockIndex = blockIndex;
          this.blocks = blocks;
        }

        contentClass() {
          return null;
        }

        onBlockClick(block, blockIndex, blocks) {
          blocks.filter(b => b !== block).forEach(b => b.classList.remove('confirm'));
          block.classList.toggle('confirm');
          return new BlockVisibilityState(block, blockIndex, blocks);
        }

        buttonTextFor(index) {
          return [null, this.block.classList.contains('shown') ? 'Hide' : 'Show', 'Cancel', null][index];
        }

        onButton0() {
          return null;
        }

        onButton1() {
          const visible = !this.block.classList.contains('shown');
          Reflect.set(globalState, `answer${this.blockIndex + 1}Visible`, visible);
          this.blocks.forEach(b => b.classList.remove('confirm'));
          return new DefaultState();
        }

        onButton2() {
          this.blocks.forEach(b => b.classList.remove('confirm'));
          return new DefaultState();
        }

      }

      class StrikesState {

        contentClass() {
          return null;
        }

        buttonTextFor(index) {
          return [`${globalState.strikes} Strikes`, '+ Strike', '- Strike', 'Cancel'][index];
        }

        onButton1() {
          if (globalState.strikes < 3) {
            globalState.strikes++;
            return new Promise(resolve => {
              const bigStrike = el.querySelector('.bigStrike');
              bigStrike.style.display = 'grid';
              setTimeout(() => {
                bigStrike.style.display = 'none';
                resolve(new DefaultState());
              }, 2000);
            });
          }
          return new DefaultState();
        }

        onButton2() {
          if (globalState.strikes > 0) {
            globalState.strikes--;
          }
          return new DefaultState();
        }

        onButton3() {
          return new DefaultState();
        }

      }

      class EditState {

        constructor() {
          for (const input of el.querySelectorAll('input')) {
            const x = input.closest('.cell').querySelector('.text').innerText;
            x === EMPTY_CELL ? input.value = '' : input.value = x;
          }
        }

        contentClass() {
          return 'editing';
        }

        buttonTextFor(index) {
          return ['Show All', 'Hide All', 'Save', 'No Strikes'][index];
        }

        onButton0() {
          [1, 2, 3, 4, 5, 6, 7, 8].forEach(index => Reflect.set(globalState, `answer${index}Visible`, true));
          return new DefaultState();
        }

        onButton1() {
          [1, 2, 3, 4, 5, 6, 7, 8].forEach(index => Reflect.set(globalState, `answer${index}Visible`, false));
          return new DefaultState();
        }

        onButton2() {
          Array.from(el.querySelectorAll('.block')).forEach((block, index) => {
            const answerEl = block.querySelector('.answer');
            const scoreEl = block.querySelector('.score');
            const answerInput = answerEl.querySelector('input');
            const scoreInput = scoreEl.querySelector('input');
            const answer = (answerInput.value || '').toUpperCase();
            const score = isNaN(Number(scoreInput.value)) ? 0 : Number(scoreInput.value);
            Reflect.set(globalState, `answer${index + 1}Text`, answer);
            Reflect.set(globalState, `answer${index + 1}Score`, score);
            answerEl.querySelector('.text').innerText = answer;
            scoreEl.querySelector('.text').innerText = score;
          });
          return new DefaultState();
        }

        onButton3() {
          globalState.strikes = 0;
          return new DefaultState();
        }

      }

      class Machine {

        render(state) {
          // update the content class
          const content = el.querySelector('.content');
          Array.from(content.classList).filter(cls => !['content', 'host', 'hide'].includes(cls)).forEach(cls => content.classList.remove(cls));
          content.classList.add(state.contentClass());

          // set block answer, score, visibility, and handlers
          const blocks = Array.from(el.querySelectorAll('.block'));
          blocks.forEach((block, index) => {
            const isVisible = !!Reflect.get(globalState, `answer${index + 1}Visible`);
            const text = Reflect.get(globalState, `answer${index + 1}Text`);
            const score = Reflect.get(globalState, `answer${index + 1}Score`);
            block.querySelector('.answer .text').innerText = text || EMPTY_CELL;
            block.querySelector('.score .text').innerText = (score ?? 0) === 0 ? EMPTY_CELL : score;
            isVisible ? block.classList.add('shown') : block.classList.remove('shown');
            if (typeof state.onBlockClick === 'function') {
              block.onclick = () => {
                Promise.resolve(state.onBlockClick(block, index, blocks)).then(nextState => {
                  if (nextState) {
                    this.render(nextState);
                  }
                });
              };
            } else {
              block.onclick = null;
            }
          });

          // set the button texts and handlers
          const buttonSelectors = ['.strikes', '.joinCode', '.editSwitch', '.total'];
          Array(4).fill(0).forEach((_, index) => {
            const button = el.querySelector(buttonSelectors[index]);
            button.querySelector('.text').innerText = state.buttonTextFor(index);
            button.onclick = () => {
              const handler = Reflect.get(state, `onButton${index}`);
              if (handler) {
                Promise.resolve(handler.apply(state, [])).then(nextState => {
                  if (nextState) {
                    this.render(nextState);
                  }
                });
              }
            };
          });
        }

      }

      new Machine().render(new DefaultState());
    },
  });
</script>

<style>
  .content {
    display: grid;
    padding: 5vh 5vw;
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
  }

  .ratio {
    aspect-ratio: 16 / 9;
    width: 100%;
    margin: auto;
    max-width: 90vw;
    max-height: 90vh;
  }

  .container {
    display: grid;
    height: 100%;
  }

  .board {
    background: black;
    display: grid;
    padding: 6vmin;
    border-radius: 6vmin;
    box-shadow: inset 0 0 0 2vmin black, inset 0 0 0 4vmin var(--v-board-base);
  }

  .panel {
    display: grid;
    grid-template-rows: 1fr .2fr;
    grid-gap: 2vmin;
    border-radius: 1vmin;
    background: rgb(2, 0, 36);
    background: radial-gradient(circle, var(--v-board-light) 0%, var(--v-board-base) 100%);
    padding: 8vmin 4vmin;
  }

  .editing .board {
    box-shadow: inset 0 0 0 2vmin black, inset 0 0 0 4vmin var(--v-board-alt-base);
  }

  .editing .panel {
    background: radial-gradient(circle, var(--v-board-alt-light) 0%, var(--v-board-alt-base) 100%);
  }

  .footer {
    display: grid;
    grid-template-columns: repeat(2, 33%);
    grid-column-gap: 1vmin;
    justify-content: space-between;
  }

  .host .footer {
    grid-template-columns: repeat(4, 1fr);
  }

  .blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vmin 4vmin;
  }

  .block {
    display: grid;
    grid-template-columns: 1fr 11vmin;
    grid-column-gap: 1vmin;
  }

  .block.confirm > .cell {
    box-shadow: inset 0.4vmin 0.4vmin 0.4vmin var(--v-gray-invert), inset -0.4vmin -0.4vmin 0.4vmin var(--v-gray-invert);
  }

  .cell {
    display: grid;
    align-items: center;
    padding: 1vmin 2vmin;
    background: black;
    border-radius: 1vmin;
    box-shadow: inset -0.2vmin -0.2vmin 0.4vmin var(--v-gray-invert);
    overflow: hidden;
  }

  .block > .score {
    justify-items: center;
  }

  .cell > .text,
  .cell > label > input {
    line-height: 1;
    margin: 0;
    padding: 0;
    color: var(--v-gray-invert);
    text-transform: uppercase;
    font-size: 3vw;
    animation-duration: 1s;
    white-space: nowrap;
    overflow: hidden;
    animation-fill-mode: forwards;
  }

  .editing .blocks .text {
    display: none;
  }

  .cell > label > input {
    width: 100%;
    color: var(--v-gray-invert);
    background: transparent;
    border: none;
    outline: none;
    opacity: 0.2;
    height: 5vmin;
  }

  .shown > .cell > label > input {
    opacity: 1;
  }

  .content:not(.editing) label {
    display: none;
  }

  .cell.answer > .text {
    width: 0;
  }

  .cell.score > .text {
    opacity: 0;
    text-align: center;
  }

  .host .cell > .text {
    width: 100%;
    opacity: 0.2;
  }

  .footer > .cell > .text {
    width: 100%;
    opacity: 1;
  }

  .shown .cell.answer > .text {
    animation-name: slideReveal;
  }

  .shown .cell.score > .text {
    animation-name: opacityReveal;
  }

  .host .shown .cell > .text {
    animation-name: opacityReveal;
  }

  .footer > .cell > .text {
    text-align: center;
  }

  .footer > .cell.joinCode,
  .footer > .cell.editSwitch {
    display: none;
  }

  .host .footer > .cell.joinCode,
  .host .footer > .cell.editSwitch {
    display: grid;
  }

  @keyframes slideReveal {
    to {
      width: 100%;
    }
  }

  @keyframes opacityReveal {
    to {
      opacity: 1;
    }
  }

  .bigStrike {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    font-size: 30vh;
  }
</style>
