<template id="hostView">
  <div class="progress">Loading, please wait&hellip;</div>
  <div class="host content">
    <div class="ratio">
      <div class="container">
        <div class="board">
          <div class="panel">
            <div class="blocks">
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="1"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="2"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="9"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="10"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="3"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="4"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="11"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="12"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="5"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="6"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="13"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="14"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="7"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="8"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="15"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="16"/></label>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="cell strikes">
                <div class="text">----</div>
              </div>
              <div class="cell joinCode">
                <div class="text">----</div>
              </div>
              <div class="cell editSwitch">
                <div class="text">----</div>
              </div>
              <div class="cell total">
                <div class="text">----</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bigStrike">❌</div>
</template>

<script>
  app.addView({
    templateId: 'hostView',
    created: function(el) {
      const EMPTY_CELL = '';
      const globalState = this.state;
      globalState._canContinue = true;

      class DefaultState {

        contentClass() {
          return null;
        }

        buttonTextFor(index) {
          const total = [1, 2, 3, 4, 5, 6, 7, 8].reduce((acc, index) => {
            let score = Number(Reflect.get(globalState, `answer${index}Score`));
            score = isNaN(score) ? 0 : score;
            const visible = Reflect.get(globalState, `answer${index}Visible`);
            return visible ? acc + score : acc;
          }, 0);
          return [`${globalState.strikes} Strikes`, globalState._joinCode, 'Edit', `Total ${total}`][index];
        }

        onBlockClick(block, blockIndex, blocks) {
          blocks.filter(b => b !== block).forEach(b => b.classList.remove('confirm'));
          block.classList.toggle('confirm');
          return new BlockVisibilityState(block, blockIndex, blocks);
        }

        onButton0() {
          return new StrikesState();
        }

        onButton2() {
          return new EditState();
        }

      }

      class BlockVisibilityState {

        constructor(block, blockIndex, blocks) {
          this.block = block;
          this.blockIndex = blockIndex;
          this.blocks = blocks;
        }

        contentClass() {
          return null;
        }

        onBlockClick(block, blockIndex, blocks) {
          blocks.filter(b => b !== block).forEach(b => b.classList.remove('confirm'));
          block.classList.toggle('confirm');
          return new BlockVisibilityState(block, blockIndex, blocks);
        }

        buttonTextFor(index) {
          return [null, this.block.classList.contains('shown') ? 'Hide' : 'Show', 'Cancel', null][index];
        }

        onButton0() {
          return null;
        }

        onButton1() {
          const visible = !this.block.classList.contains('shown');
          Reflect.set(globalState, `answer${this.blockIndex + 1}Visible`, visible);
          this.blocks.forEach(b => b.classList.remove('confirm'));
          return new DefaultState();
        }

        onButton2() {
          this.blocks.forEach(b => b.classList.remove('confirm'));
          return new DefaultState();
        }

      }

      class StrikesState {

        contentClass() {
          return null;
        }

        buttonTextFor(index) {
          return [null, '+ Strike', '- Strike', 'Cancel'][index];
        }

        onButton1() {
          if (globalState.strikes < 5) {
            globalState.strikes++;
            return new Promise(resolve => {
              const bigStrike = el.querySelector('.bigStrike');
              bigStrike.style.display = 'grid';
              setTimeout(() => {
                bigStrike.style.display = 'none';
                resolve(new DefaultState());
              }, 1500);
            });
          }
          return new DefaultState();
        }

        onButton2() {
          if (globalState.strikes > 0) {
            globalState.strikes--;
          }
          return new DefaultState();
        }

        onButton3() {
          return new DefaultState();
        }

      }

      class EditState {

        constructor() {
          for (const input of el.querySelectorAll('input')) {
            const x = input.closest('.cell').querySelector('.text').innerText;
            x === EMPTY_CELL ? input.value = '' : input.value = x;
          }
        }

        contentClass() {
          return 'editing';
        }

        buttonTextFor(index) {
          return [null, null, 'Save', 'Cancel'][index];
        }

        onButton2() {
          Array.from(el.querySelectorAll('.block')).forEach((block, index) => {
            const answerEl = block.querySelector('.answer');
            const scoreEl = block.querySelector('.score');
            const answerInput = answerEl.querySelector('input');
            const scoreInput = scoreEl.querySelector('input');
            const answer = (answerInput.value || '').toUpperCase();
            const score = isNaN(Number(scoreInput.value)) ? 0 : Number(scoreInput.value);
            Reflect.set(globalState, `answer${index + 1}Text`, answer);
            Reflect.set(globalState, `answer${index + 1}Score`, score);
            answerEl.querySelector('.text').innerText = answer;
            scoreEl.querySelector('.text').innerText = score;
          });
          return new DefaultState();
        }

        onButton3() {
          return new DefaultState();
        }

      }

      class Machine {

        render(stateInstance) {
          // update the content class
          const content = el.querySelector('.content');
          Array.from(content.classList).filter(cls => !['content', 'host', 'hide', 'loaded'].includes(cls)).forEach(cls => content.classList.remove(cls));
          content.classList.add(stateInstance.contentClass());

          // set block answer, score, visibility, and handlers
          const blocks = Array.from(el.querySelectorAll('.block'));
          blocks.forEach((block, index) => {
            const isVisible = !!Reflect.get(globalState, `answer${index + 1}Visible`);
            const text = Reflect.get(globalState, `answer${index + 1}Text`);
            const score = Reflect.get(globalState, `answer${index + 1}Score`);
            block.querySelector('.answer .text').innerText = text || EMPTY_CELL;
            block.querySelector('.score .text').innerText = (score ?? 0) === 0 ? EMPTY_CELL : score;
            isVisible ? block.classList.add('shown') : block.classList.remove('shown');
            if (typeof stateInstance.onBlockClick === 'function') {
              block.onclick = () => {
                Promise.resolve(stateInstance.onBlockClick(block, index, blocks)).then(nextState => {
                  if (nextState) {
                    this.render(nextState);
                  }
                });
              };
            } else {
              block.onclick = null;
            }
          });

          // set the button texts and handlers
          const buttonSelectors = ['.strikes', '.joinCode', '.editSwitch', '.total'];
          Array(4).fill(0).forEach((_, index) => {
            const button = el.querySelector(buttonSelectors[index]);
            button.querySelector('.text').innerText = stateInstance.buttonTextFor(index);
            button.onclick = () => {
              const handler = Reflect.get(stateInstance, `onButton${index}`);
              if (handler) {
                Promise.resolve(handler.apply(stateInstance, [])).then(nextState => {
                  if (nextState) {
                    this.render(nextState);
                  }
                });
              }
            };
          });
        }

      }

      new Machine().render(new DefaultState());

      setTimeout(() => {
        el.querySelector('.progress').remove();
        el.querySelector('.content').classList.add('loaded');
      }, 1000);
    },
  });
</script>

<style>
  /*noinspection CssUnknownTarget*/
  @import url("css/board.css");
</style>
