<template id="menuView">
  <div id="container">
    <div class="content">
      <h1>Party Duel</h1>
      <div id="actions" class="panel">
        <button name="new">New Game</button>
        <button name="continue">Continue Game</button>
        <button name="back">Back</button>
      </div>
      <div id="newGameConfirmation" class="panel">
        <h2>Are you sure?</h2>
        <button name="yes">Yes, start a new game</button>
        <button name="no">No, keep my existing game</button>
        <p>By starting a new game you'll lose all progress for your previous game.</p>
      </div>
    </div>
  </div>
</template>

<script>
  app.addView({
    templateId: 'menuView',
    created: function(el) {
      const resetState = () => Object.keys(this.state).forEach(k => Reflect.set(this.state, k, Reflect.get(this.defaultState, k)));
      el.querySelector('#newGameConfirmation').style.display = 'none';
      el.querySelector('button[name=yes]').addEventListener('click', e => {
        e.preventDefault();
        resetState();
        this.nav('#hostBoard');
      });
      el.querySelector('button[name=no]').addEventListener('click', e => {
        e.preventDefault();
        el.querySelector('#newGameConfirmation').style.display = 'none';
        el.querySelector('#actions').style.display = 'grid';
      });
      el.querySelector('button[name=new]').addEventListener('click', e => {
        e.preventDefault();
        if (previousGameExists()) {
          el.querySelector('#actions').style.display = 'none';
          el.querySelector('#newGameConfirmation').style.display = 'grid';
        } else {
          resetState();
          this.nav('#hostBoard');
        }
      });
      el.querySelector('button[name=continue]').addEventListener('click', e => {
        e.preventDefault();
        this.nav('#hostBoard');
      });
      el.querySelector('button[name=back]').addEventListener('click', e => {
        e.preventDefault();
        this.nav('#start');
      });
    }
  });
</script>

<style>
  #container {
    text-align: center;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 60vw;
    height: 100vh;
    margin: auto;
  }

  .panel {
    display: grid;
    width: 100%;
  }

  p {
    font-size: 3vh;
    margin: 2vh auto;
  }
</style>
