<template id="questionFormView">
  <h2>Question</h2>
  <form>
    <label>Question<input type="text" name="question"/></label>

    <label>Answer 1<input type="text" name="answer1Text"/></label>
    <label>Score 1<input type="number" name="answer1Score"/></label>

    <label>Answer 2<input type="text" name="answer2Text"/></label>
    <label>Score 2<input type="number" name="answer2Score"/></label>

    <label>Answer 3<input type="text" name="answer3Text"/></label>
    <label>Score 3<input type="number" name="answer3Score"/></label>

    <label>Answer 4<input type="text" name="answer4Text"/></label>
    <label>Score 4<input type="number" name="answer4Score"/></label>

    <label>Answer 5<input type="text" name="answer5Text"/></label>
    <label>Score 5<input type="number" name="answer5Score"/></label>

    <label>Answer 6<input type="text" name="answer6Text"/></label>
    <label>Score 6<input type="number" name="answer6Score"/></label>

    <label>Answer 7<input type="text" name="answer7Text"/></label>
    <label>Score 7<input type="number" name="answer7Score"/></label>

    <label>Answer 8<input type="text" name="answer8Text"/></label>
    <label>Score 8<input type="number" name="answer8Score"/></label>

    <button type="submit">Save &amp; Close</button>
    <button type="submit">Cancel</button>
  </form>
</template>

<script>
  app.addView({
    templateId: 'questionFormView',
    created: function(el) {
      const question = el.querySelector('input[name=question]');
      const answers = Array(8).fill(null).reduce((acc, _, i) => acc.concat(el.querySelector(`input[name=answer${i + 1}Text]`)), []);
      const scores = Array(8).fill(null).reduce((acc, _, i) => acc.concat(el.querySelector(`input[name=answer${i + 1}Score]`)), []);
      question.value = this.state.question;
      answers.forEach((a, i) => a.value = Reflect.get(this.state, `answer${i + 1}Text`));
      scores.forEach((s, i) => s.value = Reflect.get(this.state, `answer${i + 1}Score`));
      el.querySelector('form').addEventListener('submit', e => {
        e.preventDefault();
        const { submitter } = e;
        if (submitter.innerText === 'Cancel') {
          this.nav('#board');
          return;
        }
        this.state.question = question.value;
        const sanitize = t => t.trim() === '' ? null : t;
        // TODO: batch these up so that only one publish occurs
        answers.forEach((a, i) => Reflect.set(this.state, `answer${i + 1}Text`, sanitize(a.value)));
        scores.forEach((s, i) => Reflect.set(this.state, `answer${i + 1}Score`, sanitize(s.value)));
        this.nav('#board');
      });
    },
    mounted: function(el) {
      const question = el.querySelector('input[name=question]');
      question.focus();
    }
  });
</script>
