<template id="startView">
  <div id="container">
    <div id="content">
      <h1>Party Duel</h1>
      <h2>Are you the host or just a viewer of the game?</h2>
      <a class="button" href="#menu">Host</a>
      <a class="button" href="#viewerJoin">View</a>
    </div>
  </div>
</template>

<style>
  #container {
    text-align: center;
  }

  #content {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100vh;
    margin: auto;
  }

  .button {
    max-width: 50%;
  }
</style>
