<template id="strikeConfirmationView">
  <h2>{title}</h2>
  <p class="message">{message}</p>
  <form>
    <button type="submit" name="confirm">{Yes}</button>
    <button type="submit" name="cancel">{No}</button>
  </form>
</template>

<script>
  app.addView({
    templateId: 'strikeConfirmationView',
    created: function(el) {
      const action = this.state.strikesModalDirection > 0 ? 'Add' : 'Remove';
      el.querySelector('h2').innerText = `${action} Strike?`;
      el.querySelector('.message').innerText = `Are you sure you want to ${action.toLowerCase()} a strike?`;
      el.querySelector('button[name=confirm]').innerText = `Yes, ${action.toLowerCase()} strike`;
      el.querySelector('button[name=cancel]').innerText = 'Nevermind';
      el.querySelector('form').addEventListener('submit', e => {
        e.preventDefault();
        const { submitter } = e;
        if (submitter.name === 'confirm') {
          if (this.state.strikesModalDirection > 0 && this.state.strikes < 3) {
            this.state.strikes++;
          } else if (this.state.strikesModalDirection < 0 && this.state.strikes > 0) {
            this.state.strikes--;
          }
        }
        this.nav('#board');
      });
    }
  });
</script>
