<template id="teamNameFormView">
  <h2>Change Name</h2>
  <form>
    <label>
      <input type="text" autofocus/>
    </label>
    <button type="submit">Save &amp; Close</button>
  </form>
</template>

<script>
  app.addView({
    templateId: 'teamNameFormView',
    created: function(el, { title, prop }) {
      el.querySelector('h2').innerText = title;
      const input = el.querySelector('input');
      input.value = Reflect.get(this.state, prop);
      el.querySelector('form').addEventListener('submit', e => {
        e.preventDefault();
        this.setNav(prop, e.target.querySelector('input').value, '#board');
      });
    },
    mounted: function(el) {
      const input = el.querySelector('input');
      input.select();
      input.focus();
    }
  });
</script>
