<template id="viewerView">
  <div class="content">
    <div class="ratio">
      <div class="container">
        <div class="board">
          <div class="panel">
            <div class="blocks">
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="1"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="2"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="9"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="10"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="3"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="4"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="11"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="12"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="5"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="6"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="13"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="14"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="7"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="8"/></label>
                </div>
              </div>
              <div class="block">
                <div class="cell answer">
                  <div class="text">--</div>
                  <label><input type="text" tabindex="15"/></label>
                </div>
                <div class="cell score">
                  <div class="text">--</div>
                  <label><input type="number" tabindex="16"/></label>
                </div>
              </div>
            </div>
            <div class="footer">
              <div class="cell strikes">
                <div class="text">----</div>
              </div>
              <div class="cell joinCode">
                <div class="text">----</div>
              </div>
              <div class="cell editSwitch">
                <div class="text">----</div>
              </div>
              <div class="cell total">
                <div class="text">----</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bigStrike">❌</div>
</template>

<script>
  app.addView({
    templateId: 'viewerView',
    created: function(el) {
      networking.publish(this.state._joinCode, 'canhazit?');
    },
    afterStateChange: function(el, prop, oldValue, newValue, state) {
      const viewerState = state.$viewerState;
      const strikesEl = el.querySelector('.strikes > .text');
      const strikesShown = Number(strikesEl.dataset.strikes);
      strikesEl.innerText = `${viewerState.strikes} Strikes`;
      strikesEl.dataset.strikes = viewerState.strikes;
      if (strikesShown < viewerState.strikes) {
        const bigStrike = el.querySelector('.bigStrike');
        bigStrike.style.display = 'grid';
        setTimeout(() => {
          bigStrike.style.display = 'none';
        }, 2000);
      }

      const total = [1, 2, 3, 4, 5, 6, 7, 8].reduce((acc, index) => {
        const score = Number(Reflect.get(viewerState, `answer${index}Score`));
        return score && !isNaN(score) && score > 0 ? acc + score : acc;
      }, 0);
      el.querySelector('.total > .text').innerText = `Total ${total}`;

      const blocks = el.querySelector('.blocks');
      [1, 2, 3, 4, 5, 6, 7, 8].forEach(n => {
        const answer = Reflect.get(viewerState, `answer${n}Text`);
        const score = Reflect.get(viewerState, `answer${n}Score`);
        const block = blocks.children[n - 1];
        block.querySelector('.answer > .text').innerText = answer || '--';
        block.querySelector('.score > .text').innerText = score || '--';
        answer ? block.classList.add('shown') : block.classList.remove('shown');
      });
    }
  });
</script>

<style>
  /*noinspection CssUnknownTarget*/
  @import url("css/board.css");
</style>
